<style>
    #footer {
        bottom: 0;
        width: 100%;
        /* Height of the footer*/
        height: auto;
        background: ghostwhite;
    }
</style>

<div id="footer">
    <div class="container-fluid">
      <div class="row text-center">
        <div class="col-sm-4">
          <h3>About Us</h3>
          <p>Bigdata team 9</p>
        </div>

        <div class="col-sm-4 ">
          <h3>Contact Us</h3>
          <p>Bigdata청년캠퍼스
              <br>Korea University</p>
        </div>

        <div class="col-sm-4 ">
          <h3>Privacy Policy</h3>
          <p>Terms of use
              <br>Copyright Claims</p>
        </div>
      </div>
    </div>
</div>