<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

     <!-- Image and text -->

    {% include 'list1.html' %}
    <title>Welcome to Tech-9!</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.js"></script>

</head>

<body>


    <div class="jumbotron">
        <div class="text-center">
            <h1>Welcome to Tech-9!</h1><br>
            <br>
            <div><img class="img-fluid" src="../static/logo1.jpg" width="1000" height="1200" alt="logo"></div><br>



            <br>
            <h3> 코로나로 인해 비대면 수업의 활성화로 청각장애인들이 많은 불편함을 겪고 있습니다.</h3>
            <h3>그 불편함을 조금이나마 해소하고자 TECH-9은 강의자의 말을 보다 정확하게 전달하고자 합니다.</h3>

            </div>
        </div>
    </div>


    {% include 'footer.html' %}
</body>
</html>