<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Convert Your Videos</title>
    {% include 'topbar.html' %}
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <script type="text/javascript" src="static/js/bootstrap.js"></script>
    {% include 'navbar.html' %}
    <div class="jumbotron jumbotron-fluid" align="middle">
  <h1 class="display-4">Convert your videos!</h1>
  <p class="lead">Here you can convert your videos to----</p>
  <hr class="my-4">
  <p>You can view the list of STT files one the ---- above.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        # by clicking the learn more button you can view our API reference?????!!
    </div>
    <div class="alert alert-warning" role="alert" align="middle">
    Convert <a href="#" class="alert-link">mp3 to flac</a> first!
    # directs user to a site where the file can be converted into a diff format
    </div>

   <!--Navbar-->
   <nav class="navbar navbar-expand-lg navbar-dark indigo mb-4"></nav>

    <nav class="navbar navbar-expand-lg navbar-light blue-grey lighten-5 mb-4">
     <div class="collapse navbar-collapse" id="navbarSupportedContent">

         <form class="form-inline ml-auto">
           <div class="md-form my-0">
             <input class="form-control" type="text" placeholder="Search" aria-label="Search">
           </div>
             <a href="/convert/">
           <button  class="btn btn-info btn-lg" type="button">Convert</button>
                 </a>
         </form>
     </div>
   </nav>


    <form action="/convert/">
             <input type="submit" value="Click me"/>
         </form>
         <button><a href="/convert/"> new new new</a></button>

    <input type="button" id='script' name="scriptbutton" value=" Run Script " onclick="RNN()">

    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script>
        function RNN(){
            $.ajax({
              url: "RNN.py",
             context: document.body
            }).done(function() {
             alert('finished python script');;
            });
        }
    </script>

        <form class="form-inline md-form mr-auto mb-4   ">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-warning btn-rounded btn-sm my-0" type="submit">Convert</button>
        </form>
    <form class="form-group-lg align-items-md-center align-items-center"></form>

  {{ dropzone.load_css() }}
  {{ dropzone.style('border: 4px dashed #FD6A02; margin: 10%; min-height: 400px;') }}

</head>
<body>
  {{ dropzone.create(action='upload') }}
  {{ dropzone.load_js() }}
  {{ dropzone.config() }}

<div class="container-fluid" align=middle>
    <div class="row">
        <div class="col-md-4 offset-md-4" bg-light text-center>
            <button type="button" class="btn btn-primary">Convert to STT</button>
            <button type="button" class="btn btn-info">Convert to mp3</button>
            <button type="button" class="btn btn-warning">Save as txt</button>
            <button type="button" class="btn btn-dark" align>Cancel</button>
        </div>

    </div>
</div>

      <br>
      <br>
      <br>
      <br>

</body>
</html>
